body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  .timer {
    width: 240px;
    height: 240px;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, .4);
    background-color: #fff;
    border-radius: 50%;
    display: flex;
  }

  .timer-mask {
    width: 200px;
    height: 200px;
   // box-shadow: 0 0 15px 4px rgba(0, 0, 0, .4);
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-left: -220px;
   font-size: 48px;
}
  